body {
    background-color: black;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightskyblue;
}

.p_1 {
    text-align: center;
    color: lightcoral;
}

.sidebar {
    width: 25%;
    float: right;
    border: 2px solid rgb(255, 0, 0);
}

.container_fotos_padre {
    width: 75%;
    display: flex;
    flex-flow: row;
}

.tamaño_completo {
   width: 75%; 
}